$displayFlex: flex;
$justifyContent: center;
$flexDirection: row;
$alignItems: center;
$textAlign: center;
$fontFamily: "Courier New", Courier, monospace;
$fontFamily2: sans-serif;
$fontWeightBold: bold;
$creamColor: #fce6b1;
