.hurray-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  flex-direction: column;
}

.earned-text {
  color: rgb(114, 125, 127);
  font-family: monospace;
  margin-bottom: 2%;
}

.retry-game-text {
  color: #ddaf28;
  font-family: monospace;
  font-size: 18px;
  margin-top: 40%;
  text-align: center;
}

.one-more-chance-text {
  color: white;
  font-family: monospace;
  font-size: 19px;
  text-align: center;
  margin: 0% 10% 0% 10%;
}
