.modal-align-center {
  width: -webkit-fill-available;
}

.modal {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(#282828, #090909);
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cancel-button-align {
  position: absolute;
  top: 10px;
  left: 10px;
}
