.modal-align-center {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(#1f1d1d, #1f1d1d);
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
