@import "./common";

.score-text {
  .score-text-string {
    font-family: $fontFamily2;
    font-size: 14px;
    text-align: $textAlign;
    font-weight: $fontWeightBold;
  }
  .score-text-number {
    font-family: $fontFamily2;
    font-size: 29px;
    text-align: $textAlign;
    font-weight: $fontWeightBold;
  }
}
