.complete-a-task-text {
  font-size: 22px;
  margin: 0px 45px 18px;
}

.chances-claimed-container {
  border: 2px dotted #566265;
  border-radius: 7px;
  font-size: 15px;
  margin: 0px 45px 18px;
  padding: 6px;
}

.align-chances-claimed-text {
  display: flex;
  justify-content: center;
}
