@import "./common";

$colorWhite: white;

.share-screen-container {
  margin-top: 50%;
}
.complete-a-task-text {
  color: $colorWhite;
  font-size: 16px;
  text-align: $textAlign;
  font-family: $fontFamily;
  margin: 0% 15% 5% 15%;
}

.chances-claimed-container {
  border-width: 1px;
  border: 2px dotted rgb(86, 98, 101);
  border-radius: 7px;
  font-size: 15px;
  font-family: $fontFamily;
  text-align: $textAlign;
  color: $colorWhite;
  margin: 0% 25% 5% 25%;
  padding: 1%;
}
